
// html {
//   font-size: 4px; 
// }

body {
  font-size: 16px;
}


html,
body,
#app {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
}

html.dark {
  background: var(--dark-bg);
}

a {
  color: var(--el-color-primary);
}

a:focus,
a:active,
button,
div,
svg,
span {
  outline: none !important;
}